extends ../layouts/primary.pug

block main
  .Section
    .Container
      .Section.timeline--waves
        .timeline__list
          ul
            li
              p
              .card.card-1
                span.card__date
                  | 07/2016
                span.card__title
                  | Chile floods: Nearly 400 descend from Caj贸n del Maipo
                  span.card__emoticon
                    img(src='../img/images/emoticon__sad.svg', alt='sad')
                span.card__body
                  | Chile floods: Nearly 400 descend from Caj贸n del Maipo as evacuation begins Chile floods: Nearly 400 descend from Caj贸n del Maipo as evacuation begins Chile floods: Nearly 400 descend from Caj贸n del Maipo as evacuation begins
                span.card__footer
                  | read more | source | etc
