<section class="Section--ocean"></section>
<footer class="site-footer">
    <nav class="site-footer__nav">
      <a href="https://rivers-mood.herokuapp.com" class="footer__nav__item">Heroku app</a>
      <a href="https://2017.spaceappschallenge.org/challenges/planetary-blues/water-water-everywhere/teams/blogueras-techie/project"  target="_blank" class="footer__nav__item">Space apps Challenge 2017</a>
      <a href="https://twitter.com/meligatt" target="_blank" class="footer__nav__item">Contact</a>
    </nav>
  </footer>
