<header class="Header">
  <div class="Header__logo">
    <span class="Header__logoImg"></span>
    <span class="Header__logoName">The River's mood project</span>
  </div>
  <div class="Header__nav">
    <a href="https://rivers-mood.herokuapp.com" class="Header__nav__item">Home</a>
    <a href="https://2017.spaceappschallenge.org/challenges/planetary-blues/water-water-everywhere/teams/blogueras-techie/project"  target="_blank" class="Header__nav__item">Space apps Challenge 2017</a>
    <a href="https://twitter.com/meligatt" target="_blank" class="Header__nav__item">Contact</a>
  </div>
</header>
<section class="Section--mountains"></section>
