/* -----------------------------------------------------------------------------

  Elements - Forms

----------------------------------------------------------------------------- */

input,
textarea,
button {
  border-radius: 0;
  box-shadow: none;
  appearance: none;
}
