/* -----------------------------------------------------------------------------

  Elements - Root

----------------------------------------------------------------------------- */

html {
  font-size: 10px
}

body {
  color: $color-greyscale-3;
  font-family: $font-primary;
  font-size: 1.8rem;
}
