/*.timeline__river-column {
width: 200px;

background:
radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
background-color: #2b80b3;
background-size:75px 100px;

}*/

.timeline__list {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  position: relative;

}

.timeline__list ul {
  margin: 0 auto 0px;
  list-style: none;
}

.timeline__list li {
  display: flex;
}

.timeline__list  li:last-child {
  border: 0;
}

.timeline__list li p {
  display: block;
  padding: 20px;
  line-height: 1.4;
}

.timeline__list li p:nth-child(1) {
  position: relative;
  padding-right: 25px;
  font-size: 14px;
  line-height: 2.5;
  color: #FFF;

  background:
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #2b80b3;
  background-size:75px 100px;
    height: 200px;

}

.timeline__list li p:nth-child(1):after {
  content: '';
  position: absolute;
  top: 28px;
  right: -12px;
  display: block;
  width: 20px;
  height: 20px;
  border: 5px solid #113c77;
  border-radius: 50%;
  background: #fff;
}

.timeline__list li:first-child p:nth-child(1):after {
  background: #96cc9b;
}

.timeline__list li p:nth-child(2) {
  flex: 1;
  font-size: 24px;
  border-left: 5px solid #999;
}

.timeline__list  li p span {
  display: block;
  margin: 5px 0 0;
  font-size: 12px;
  font-style: italic;
  color: #606788;
}
