.card {
  background: #D2E8F3;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 1rem 0 0 3rem;
  position: relative;
  width: 500px;
  padding: 12px;
  border-radius: 3px;
}
.card__title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
.card__body {
  display: block;
  font-size: 16px;
  font-style: normal;
  color: #757575;
  padding: 12px;
  width: 90%;
}

.card__date {
  font-style: italic;
  font-size: 13px;
}
.card__footer {
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}
.card__emoticon img {
  width: 60px;
  height: auto;
  margin: 0 12px 0 0;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
