/* -----------------------------------------------------------------------------

  Objects - Footer

----------------------------------------------------------------------------- */

.Footer {
  padding: $gutter-v 0;
  text-align: center;
  background-color: $color-branch-secondary-1;
}
