/* -----------------------------------------------------------------------------

  Objects - Header

----------------------------------------------------------------------------- */

.Header {
  display: flex;
  height: 100px;
  margin: 0;
  padding: 0 40px 0 80px;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  background-color: white;
}

.Header__logo {
  height: 40px;
  width: auto;
  align-items: center;
  display: flex;
}

.Header__logoImg {
  margin: 0;
  width: 8rem;
  background-image: url("../img/images/rivermoodproject.svg"), none;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.Header__logoName {
  margin: 0 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 43px;
    font-weight: 700;
  }
.Header__nav {
  margin: 0 10px;
    padding: 20px;
}
.Header__nav__item {
    margin: 0 10px;
    font-weight: 400;
    color: #606788;
    font-size: 14px;
    text-decoration: none;
    transition: color .3s ease-in-out;
}
.Header__nav__item:hover {
  color: #96cc9b;
  text-decoration: underline;
}
