/* -----------------------------------------------------------------------------

  Objects - Section

----------------------------------------------------------------------------- */

.Section {
  display: flex;
}

.Section--mountains {
  background-color: #FFF;
  background-image: url('../img/images/mountains-header.svg'), none;
  height: 200px;
  background-repeat: repeat-x;
  background-position: 50% 102%;
}

.Section--waves {
  padding: 0;
  @media (min-width: 768px) {
    padding: 0 80px 0 80px;
  }
}

.Section--ocean {
  background-color: #EEE;
  background-image: url('../img/images/ocean-footer.svg'), none;
  height: 110px;
  background-repeat: repeat-x;
  background-position: top center;
}
